<button class="btnOpen" data-modal-open>SignIn</button>
<button class="btnSignOut visually-hidden">SignOut</button>
<div>
  <p class="userName visually-hidden"></p>
</div>
<div class="backdrop is-hidden" id="firebaseui-auth-container" data-modal>
  <button data-modal-close style="width: 30px; height: 30px; background-color: red"></button>
</div>

<div class="visually-hidden">
  <button class="addDocument">addDocument</button>
  <button class="addUser">addUser</button>
  <button class="getCol">getCollection</button>
</div>

<div class="database visually-hidden">
  <form action="">
    <input class="input" type="text" />
    <button class="addData">addData</button>
  </form>
</div>

<div class="container"></div>
